.schedule {
    display: grid;
    place-self: center;
    min-height: 90vh;
    min-width: 50vw;
    background-color: #3f3b3b;
    color: rgb(228, 207, 207);

    h1 {
        min-height: 9vh;
        margin: 0;
        // padding: 0;
        padding: 4rem 0 0 0;
    }

    table {
        font-family: 'Montserrat', sans-serif;
        min-height: 61vh;
    }
}