.nav {
  background-color: #e7b3b3;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 10vh;
}

.nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav nav .logo {
  font-family: 'Ibarra Real Nova', serif;
  font-size: xx-large;
  min-width: 20vw;
}

.nav nav .logo a {
  color: #242020;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.nav nav .spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav nav .burger {
  display: none;
}

.nav nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 50vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav nav .links a {
  font-family: 'Gelasio', serif;
  text-decoration: none;
  padding: 0 2.5rem;
  color: #4d4141;
  font-weight: bold;
}

.jumbotron {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 10vh;
}

.jumbotron header {
  min-height: 85vh;
  background-image: url("../images/men-having-their-haircut-1813272.jpg");
  background-size: cover;
}

.jumbotron header .intro {
  color: #ecdddd;
  font-size: 5.5rem;
  width: 80vw;
  background-color: #292626;
  shape-image-threshold: .7;
  text-align: start;
  padding: 1rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}

@media (max-width: 700px) {
  .nav {
    height: 10vh;
    width: 100vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav nav .logo {
    font-family: 'Ibarra Real Nova', serif;
    min-width: 20vw;
    padding: 0 1rem;
  }
  .nav nav .spacer {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .nav nav .burger {
    display: -ms-grid;
    display: grid;
    place-self: center;
    min-height: 6vh;
    min-width: 10vw;
    padding: 0 1rem;
  }
  .nav nav .links {
    display: none;
  }
  .jumbotron {
    margin-top: 10vh;
  }
}
/*# sourceMappingURL=navbar.css.map */