.footer {
    min-height: 80vh;
    background-color: #3f3b3b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-around;eeewww
    }
}