.footer {
    // min-height: 60vh;
    // background-color: #3f3b3b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // position: relative;

    .social {
        min-height: 8vh;
        min-width: 100%;
        // position: absolute;
        // top: 0;
        // padding: 0.5rem 0;
        margin: 0;
        background-color: #e7b3b3;
         
        // h3 {
        //     color: rgb(44, 38, 38);
        // }

        ul {
            width: 40vw;
            min-height: 8vh;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            a {

                list-style: none;
                cursor: pointer;
                // display: grid;
                // place-self: center;

                img {
                    // width: 40px;
                    height: 20px;
                    // display: grid;
                    // place-self: center;
                }
            }
        }
    }
    
    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #3f3b3b;
        // position: absolute;
        // top: 25vh;
        // bottom: 10vh;
        min-width: 100%;
        text-align: start;
        padding: 0;
        margin: 0;
        min-height: 40vh;

        .contacts {
            ul {
                // margin: 1rem 0;
                padding: 0;
                li {
                    list-style: none;
                    // margin: 0;
                }
            }
            a {
                background: #e7b3b3;
                color: rgb(46, 39, 39);
                border: none;
                padding: 0.5rem 1rem;
                margin: 0.5rem;
                box-shadow: 2px 2px 2px black;
                cursor: pointer;
                outline: none;
                transition: all 0.3s ease-in-out;
                text-decoration: none;
            }

            a:hover {
                background: #ec2626;
                color: rgb(206, 182, 182);
            }
        }

        .location {
            img {
                height: 40px;
            }
        }

        .heading {
            display: flex;
            flex-direction: row;
            // justify-content: space-evenly;
            // text-align: start;

            img {
                height: 30px;
                display: grid;
                place-self: center;
            }
        }
    }
}

@media (max-width: 700px) {
    .footer {
        display: flex;
        flex-direction: column;
        width: 100vw;

        .bottom {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .contacts {
                width: 100vw;
                margin: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                a {
                    background: #e7b3b3;
                    color: rgb(46, 39, 39);
                    border: none;
                    padding: 0.5rem 1rem;
                    margin: 0.5rem;
                    box-shadow: 2px 2px 2px black;
                    cursor: pointer;
                    outline: none;
                    transition: all 0.3s ease-in-out;
                    text-decoration: none;
                }

                a:hover {
                    background: #ec2626;
                    color: rgb(206, 182, 182);
                }
            }

            .location {
                margin: 2rem;
                width: 100vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

